/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

body {
    font-family: Philosopher,sans-serif;

}

/*navbar*/

.navbar {
    position: fixed;
    width: 100%;
    padding: 0;
    background-color:#9ecd86;
    z-index:100;
}

.navbar-home{
    background-color:rgba(158, 205, 134, 0.8);
}


.navbar img {
    height: 3.75rem;
    margin-left: 5px;
    margin-right: 5px;
}

.toggler-icon, li.nav-item{
    position:relative;
    z-index: 100;
}



/*brand*/
.hvr-shutter-out-vertical{
    background: none;
}

.hvr-shutter-out-vertical:before {
    background-color: #c5ce6d;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #bc3483;
    font-size: 25px;
    font-weight: bold;
    padding:6px;
}



.navbar-light .navbar-nav .nav-link{
    color:#da698f;
    font-size: 24px;
    padding:6px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#da698f;
    font-size: 24px;
    padding:6px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link:hover{
    color: #bc3483;
    font-size: 25px;
    font-weight: bold;
    padding:6px;
}


/*dropdown*/

.navbar-nav{
    text-align: end;
    margin-right: 1rem;
}


.pink-line {
    position:fixed;
    top: 3.75rem;
    height: 0.25rem;
    width:100%;
    background-color: rgba(237, 152, 119, 0.8);
    z-index: 100;
}


/*--Home-body*/
/*--Home-image*/

.home-image {
    background-image: url(../images/home-image.png); 
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover;  
    width:100vw;
    height:100vh;
}

/*---jumbotron*/

.jumbotron{
    position:absolute;
    margin-top: 30vh;
    margin-right: 10vw;
    width: 25rem;
    padding: 1.25rem;
    font-size: 120%;
    background-color: rgba(135, 163, 112, 0.575);
    color:#ffffff;
}

/* @media screen and (min-width:420px){
    .jumbotron{
        width:15rem;
    }
} */

.home-text h2 {
      display: inline;
} 

    


/*--button*/

.button-row {
    bottom:90px;
    position:absolute;
    width:100vw;
    text-align:center;
}

.btn-secondary{
    background-color: rgba(242, 188, 39, 0.8);
    border-radius: 30%;
    border-color: rgba(242, 188, 39, 0.8);
    font-weight: bold;
    font-size: 120%;
    text-transform:uppercase;
    color:#324918;
}

.btn-secondary:hover{
    background-color: rgba(230, 122, 43, 0.8);
    border-color: rgba(230, 122, 43, 1);
    color:#44b27e;
}



/*--About-page*/

.layout{
    padding-top: 4rem;
}


.about-info {
    position:relative;
    text-align: center;
}

.about-info i, .about-info h2{
    margin-top: 0;
    padding-top: 2.5rem;
}

.about-info h2{
    display:inline;
}

.options {
  list-style-type: none;
  padding:0 1.2rem;
}

@media screen and (min-width:576px){
    .options li{
        padding:0 0.5rem;
    }
}


.heading-icon {
    padding-right: 10px;

}

.about-icon{
    padding-top: 2.5rem;
}

@media screen and (min-width:576px){
    .about-icon{
    padding-top: 0.5rem;
}
}/*DOESN"T WORK*/

.about-button{
    margin: 1.7rem 0;
}

.food-text{
    padding:2rem 1.2rem 0rem;
}

@media screen and (min-width:768px){
    .food-text{
        padding:2rem 0.5rem 0rem;
    }

.events li{
    text-align: left;
}

.events p {
    margin-left: 3rem;
    display: block;
}

/* .events li::before {
    content: "\f073";
    font-family: "Font Awesome 5 Free";
} */

.events p{
    display: inline;
}

.capabilities{
    background-color: #b0db61;
    color: #32083df1;
 
}

.food {
    background-color: #bd637e;
    color: #32083df1;
 
}

.past-events {
    background-color: rgb(156, 125, 240);
     color: #32083df1;

}

.btn-primary {
    margin-bottom: 5rem;
    width: 7rem;
    border-radius: 30%;
    background-color: #f58c37;
    border-color: #f58c37;
    color: #324918;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-primary:hover{
    background-color: #f9ef6c;
    border-color: #f9ef6c;
    color: #44b27e;
}


/*---Carousel-page*/

.gallery-page{
    padding-top: 5rem;
    background-color: #c5ce6d;
}

.carousel-bg{
    background-color: #c5ce6d;
    height:100vh;
    width:100vw;
}
 
.carousel-control-prev, .carousel-control-next {
    width:3rem;
    height:3rem;
    margin-top: 30vh;
}

.carousel-control-prev{
    margin-left: 5rem;
}

@media screen (min-width:768px) {
.carousel-control-prev{
    margin-left:0rem;
}
}


/*contact-form*/

.contact-bg{
    background-color: #f9ef6c;
    color:#20512f;
}

.contact-heading{
    margin-top: 5rem;
    margin-bottom:0.7rem;
}

h5{
    margin-bottom: 0;
}

.form-label{
    padding-top:1rem;
    margin-bottom: 0;
}

form p{
    margin: 0.5rem 0.5rem 0.3rem 0;
}

.bottom-checkbox{
    margin-bottom: 0.5rem;
}

#requirements{
    margin: 0.8rem 0;
}

.callback{
    display:inline;
}

#phonenumber{
    display:inline;
    width:11rem;
}


.submit-button{
    text-align:center;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
}

.btn-success{
    width: 7rem;
    border-radius: 30%;
    background-color: #9ecd86;
    border-color: #9ecd86;
    color: #324918;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-success:hover{
    background-color: #c5ce6d;
    border-color: #c5ce6d;
    color: #44b27e;
}


/*----footer*/
/* footer{ 
    z-index: 100;
} */

/* footer .container-fluid{
    padding:0;
} */

footer .row {
    position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background-color:rgba(237, 152, 119, 1);
  color:#bc3483;
  text-align: left;
  font-size:1.4rem;
  padding-left: 0.7rem;
  height:3rem;
  margin:0;
  padding-bottom: 0;
} 

footer .row-home {
    background-color:rgba(237, 152, 119, 0.8);
}

@media screen and (max-width:386){
    footer .row{
        height:5.5rem;
    }
}

.fa-copyright{
    vertical-align: middle;
    padding:0.75rem;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social ul{
    display:inline-flex;
}

.social-links li{
    font-size: 1.25rem; 
    display: inline;
    padding:0.5rem;
    margin-right: 1.25rem;
}

.social-links i{
    color:#bc3483;
} 

.social-links i:hover{
    color:#dc3a2a;
}
