.jumbotron{
    position:absolute;
    margin-top: 30vh;
    margin-right: 10vw;
    width: 400px;
    padding: 20px;
    font-size: 120%;
    background-color: rgba(135, 163, 112, 0.575);
    color:#ffffff;
}