/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400&display=swap');

.font {
    font-family: Philosopher;
}

/*Colors

#84bb44

#bc3483

#da698f

#fffffe

#c5ce6d

#ed9877

#d7baba


*/



/*navbar*/

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.bg-navbar{
    background-color: #84bb44;
}

.navbar{
    padding-top: 0;
    padding-bottom:0;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding-left: 0;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #bc3483;
    font-size: 25px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link:hover{
    color: #bc3483;
    font-size: 25px;
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link{
    color:#da698f;
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#da698f;
    font-size: 24px;
}


/*dropdown*/

.navbar-nav{
    text-align: end;
}

/*brand*/


.navbar-light .navbar-brand{
    color:#36b079;
    font-size: 27px;
    font-weight: bold;
    background-color: #fffffe;
    padding:8px 7px;
    margin-left: 0px;
}

.navbar-light .navbar-brand:hover{
    color:#36b079;
    font-size: 27px;
    font-weight: bold;
    background-color: #fffffe;
    padding:8px 7px;
    margin-left: 0px;
}


/*
 .hvr-shutter-out-vertical{
    background: #fffffe;
}

.hvr-shutter-out-vertical:hover{
    background-color:#c5ce6d;
}
*/


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background-color:#ed9877;
  color:#fffffe;
  text-align: left;
  font-size:110%;
  padding-left: 10px;
  height:9%;
}

.social-links li{
    font-size:140%;
    display:inline;
    padding: 5%;  
}

.social-links i{
    color:#fffffe;
}

.social-links i:hover{
    color:#dc3a2a;
}